// colors
$White: #fff;
$Darkblue: #070c20;
$Lightblue: #40eeec;
$Blue: #0a3f69;

// fonts
$Sig: 'Signika', sans-serif;
$Light: 300;
$Reg: 400;
$Med: 500;
$Sem-b: 600;
$Bold: 700;
$Small: 17px;
$Medium: 21px;
$Huge: 27px;
//
