@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');

@import './variables';
@import './breakpoints';
@import './mixins';
@import './header';
@import './main';
@import './delta';
@import './footer';
@import './router';

* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
  display: flex;
}

// sass --watch scss/style.scss ./style.css
