@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap");
.nav {
  background-color: #070c20;
  height: 10vh;
}
.nav .logo {
  display: flex;
  align-items: center;
}
.nav .nav-right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.nav .pseudo-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .pseudo-nav .nav-link {
  text-decoration: none;
  color: #fff;
  font-family: "Signika", sans-serif;
  font-size: 27px;
  font-weight: 700;
  margin: 0 15px 0 15px;
}

.main-content {
  background-color: #070c20;
  width: 100%;
  height: 100%;
  min-height: 86.75vh;
}
.main-content .home {
  width: 100%;
  display: none;
  flex-direction: column;
}
.main-content .home .text {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.main-content .home .text .home-title {
  color: #fff;
  font-family: "Signika", sans-serif;
  font-size: 27px;
  font-weight: 700;
  width: 50%;
  text-align: center;
}
.main-content .home .text .home-title .math {
  color: #40eeec;
}
.main-content .home .wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.main-content .home .wrapper .home-container {
  display: flex;
  flex-direction: column;
  width: 30vh;
}
.main-content .home .wrapper .home-container .home-item {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  background-color: #0a3f69;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content .home .wrapper .home-container .home-item .home-img {
  width: 50%;
  height: auto;
}
.main-content .home .wrapper .home-container .home-item .pitagoras {
  color: #070c20;
  font-family: "Signika", sans-serif;
  font-size: 50px;
  font-weight: 700;
}
.main-content .home .wrapper .home-container .home-alt-text {
  margin-top: 20px;
  text-align: center;
  color: #fff;
  font-family: "Signika", sans-serif;
  font-size: 21px;
  font-weight: 500;
}

.delta-calc {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
}
.delta-calc .delta-text {
  color: #fff;
  font-family: "Signika", sans-serif;
  font-size: 27px;
  font-weight: 700;
}
.delta-calc .board {
  background-color: #0a3f69;
  padding: 20px;
  height: 50vh;
  width: 80vh;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.delta-calc .board .example {
  color: #070c20;
  font-family: "Signika", sans-serif;
  font-size: 27px;
  font-weight: 600;
}
.delta-calc .inputs {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.delta-calc .inputs .delta-alt-text {
  color: #fff;
  font-family: "Signika", sans-serif;
  font-size: 27px;
  font-weight: 600;
}
.delta-calc .inputs .delta-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.delta-calc .inputs .delta-form .delta-from-item {
  margin: 10px 0 10px 0;
  color: #fff;
  font-family: "Signika", sans-serif;
  font-size: 21px;
  font-weight: 500;
}
.delta-calc .inputs .delta-form .delta-btn {
  margin-top: 5px;
  color: #fff;
  font-family: "Signika", sans-serif;
  font-size: 17px;
  font-weight: 300;
  border: 2px solid #0a3f69;
  border-radius: 50%;
  background-color: #070c20;
  width: 100px;
  height: 30px;
}

.foot {
  background-color: #070c20;
  width: 100%;
  display: flex;
}
.foot .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.foot .container .copytight {
  width: 50%;
  margin-bottom: 10px;
}
.foot .container .autor {
  width: 50%;
  margin-bottom: 10px;
}
.foot .container .foot-text {
  color: #fff;
  font-family: "Signika", sans-serif;
  font-size: 17px;
  font-weight: 300;
}
.foot .container .right {
  text-align: right;
}

.home,
.delta-calc {
  display: none;
}
.home.active,
.delta-calc.active {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
  display: flex;
}

/*# sourceMappingURL=style.css.map */
